<mat-toolbar class="footer">
    <div class="containerFooter">
        <div class="footerInfos">
            <div class="containerLogo">
                <img src="../../../../assets/img/logo.png" alt="">
            </div>

            <div class="containerContato">
                <p>E-mail:</p>
                <p>Telefone</p>
                <p>Whats</p>
            </div>

            <div class="containerPagamento">
                <p>Credito</p>
                <p>Debito</p>
                <p>Pix</p>
                <p>À vista</p>
                
            </div>
        </div>
    </div>
    
    <div class="containerRedes">
        <p>Insta</p>
        <p>Face</p>
        <p>Whats</p>
    </div>

    <hr class="linha1">
    
        <div class="copntainerEndereco">
            <div class="endereco">
                <p>Rua:</p>
                <p>Bairro</p>
                <p>Nº</p>
            </div>
    
            <div class="desenvolvidoPor">
                <span>
                    Desenvolvido com 
                    <i class="material-icons red vMiddle">
                        favorite
                    </i>
                    por <strong>Vinny-Moura</strong>
                </span>
            </div>
        </div>

    
    
</mat-toolbar>
