<mat-toolbar class="header mat-elevation-z4">

    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <span >
        <a>
            <img class="logo" src="assets/img/logo.png" alt="Logo">
        </a>
    </span>

    <div>
        <div class="containerSearchAndCar">
            <span class="material-icons">
                search
            </span>
            <span class="material-icons">
                shopping_cart
            </span>
        </div>
    </div>
</mat-toolbar>